.page {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50rem;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    text-align: center;
    color: #fff;
    z-index: 2;
    padding: 2rem;
    line-height: 2rem;
}

.content h1 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: wrap;
}

.content button {
    display: flex;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    border: 1px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 15px 0px white;
}