.grid {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 1rem;
    justify-content: center;
    margin: 2rem;
}

.loading,
.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}