nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

a {
    text-decoration: none;
}

input[type="search"] {
    width: 25rem;
    height: 2rem;
}